<h3>{{ todo.text }}</h3>
<form (submit)="onUpdate($event)">
    
  <div class="form-group">
    <input type="text" class="form-control" name="todo.text" [(ngModel)]="todo.text">
  </div>
  <div class="form-group">
    <input type="checkbox" name="todo.completed" id="completed"
      [(ngModel)]="todo.completed" 
      [checked]="todo.completed">
    <label for="completed">Completed</label>
  </div>
  <button class="btn btn-primary">Alterar</button>
  <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)">Deletar</button>
  <button type="button" class="btn btn-default" (click)="goBack()">Cancelar</button>
  
</form>
